/*-----------------------------------------
mixins
-----------------------------------------*/
@mixin vertical-align {
  position: relative;
  top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}

/*-----------------------------------------
Body
-----------------------------------------*/
* {
  box-sizing: border-box;
}

html, body {
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

.gradient {
  background: -webkit-linear-gradient(30deg, #54a4db 20%, #ffa3ff 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(30deg, #54a4db 20%, #ffa3ff 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(30deg, #54a4db 20%, #ffa3ff 90%); /* IE10 */
  background:      -o-linear-gradient(30deg, #54a4db 20%, #ffa3ff 90%); /* Opera 11.10+ */
  background:         linear-gradient(30deg, #54a4db 20%, #ffa3ff 90%); /* W3C */
  background-size: 150% 150%;
  -webkit-animation: GradientAnimation 10s ease alternate infinite;
  -moz-animation: GradientAnimation 10s ease alternate infinite;
  -o-animation: GradientAnimation 10s ease alternate infinite;
  animation: GradientAnimation 10s ease alternate infinite;
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  position: absolute;
}

@-webkit-keyframes GradientAnimation {
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}
@-moz-keyframes GradientAnimation {
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}
@-o-keyframes GradientAnimation {
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}
@keyframes GradientAnimation { 
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}

.home-logo {
  @include vertical-align;
  height: auto;
  width: 300px;
}

.menu-icon {
  width: auto;
  height: 100px;
  padding: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  &.white {
    margin-left: -20px;
  }
}


.home-bottom-panel {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 20px;  
}

.home-issue-header {
  text-align: left;
}

.artist-name {
  display: inline-block;
  width: 33%;
  &:first-of-type {
    text-align: left;
  }
  &:last-of-type {
    text-align: right;
  }
  &:hover {
    color: white;
  }
}

.home-menu {
  width: 200px;
  height: auto;
  padding-bottom: 50px;
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  color: white;
  ul {
    list-style: none;
    margin-top: 120px;
    text-align: left;
    padding-left: 30px;
    li {
      margin-top: 20px; 
    }
  }
}