/*-----------------------------------------
mixins
-----------------------------------------*/
@mixin vertical-align {
  position: relative;
  top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}

$bs-pink: #ffa3ff;
$bs-blue: #54a4db;
$bs-dark-pink: darken($bs-pink, 10%);
$bs-dark-blue: darken($bs-blue, 10%);

@mixin home-gradient {
  background: -webkit-linear-gradient(30deg, $bs-blue 20%, $bs-pink 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(30deg, $bs-blue 20%, $bs-pink 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(30deg, $bs-blue 20%, $bs-pink 90%); /* IE10 */
  background:      -o-linear-gradient(30deg, $bs-blue 20%, $bs-pink 90%); /* Opera 11.10+ */
  background:         linear-gradient(30deg, $bs-blue 20%, $bs-pink 90%); /* W3C */
}

@mixin side-gradient {
  background: -webkit-linear-gradient(90deg, $bs-pink 10%, $bs-blue 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, $bs-pink 10%, $bs-blue 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, $bs-pink 10%, $bs-blue 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, $bs-pink 10%, $bs-blue 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, $bs-pink 10%, $bs-blue 90%); /* W3C */
}


.fade-in {
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
       -moz-animation: fadein 1.5s; /* Firefox */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
            animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

.scalex {
}
    
@-webkit-keyframes scalex{
    from {-webkit-transform: scale(0.9);}
    65% {-webkit-transform: scale(1.0);}
    to {-webkit-transform: scale(0.9);}    
}
    
@-moz-keyframes scale{
    from {-moz-transform: scale(0.9);}
    65% {-moz-transform: scale(1.0);}
    to {-moz-transform: scale(0.9);}    
}

.scalex {
  -webkit-animation-name: scalex;
  -webkit-animation-duration:5s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease-in;
  -moz-animation-name: scale;
  -moz-animation-duration:5s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:ease-in;
  -webkit-transform-origin: 50% 50%;
}

/*-----------------------------------------
Body
-----------------------------------------*/
* {
  box-sizing: border-box;
}

html, body {
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

.gradient {
  @include home-gradient;
  background-size: 150% 150%;
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  position: absolute;
}

.gradient-animate {
  -webkit-animation: GradientAnimation 10s ease alternate infinite;
  -moz-animation: GradientAnimation 10s ease alternate infinite;
  -o-animation: GradientAnimation 10s ease alternate infinite;
  animation: GradientAnimation 10s ease alternate infinite;
}

@-webkit-keyframes GradientAnimation {
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}
@-moz-keyframes GradientAnimation {
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}
@-o-keyframes GradientAnimation {
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}
@keyframes GradientAnimation { 
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}

//new

.home-body-center {
  @include vertical-align;
  padding: 40px 0 40px 0;
  text-align: center;
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
}

.bs-logo {
  box-sizing: border-box;
  height: auto;
  width: 100px;
  padding: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  z-index: 650;
}

//end new

.hidden {
  visibility: hidden;
}

.home-bottom-panel {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.home-issue-header {
  text-align: left;
  padding-left: 32px;
  color: white; 
}

.artist-symbol {
  display: inline-block;
  padding: 20px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 40px;
  color: white;
  height: 60px;
  &:hover {
    color: magenta;
  }
  img {
    width: auto;
    height: 60px;
  }
}

.artist-name-contain {
  display: inline-block;
  width: 33%;
  &:first-of-type {
    text-align: left;
  }
  &:last-of-type {
    text-align: right;
  }
}

.home-menu {
  width: 200px;
  height: auto;
  min-height: 100vh;
  padding-bottom: 50px;
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  color: white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  z-index: 600;
  ul {
    list-style: none;
    margin-top: 150px;
    text-align: left;
    padding-left: 30px;
    li {
      margin-top: 20px; 
    }
  }
}

/*-----------------------------------------
Artists
-----------------------------------------*/
.artist-hero {
  position: relative;
  width: 100%;
  height: 400px;
  color: white;
  h4 {
    margin-top: auto;
    padding-top: 10px;
  }
}

.artist-1 {
  background: url("https://ununsplash.imgix.net/photo-1415904663467-dfdc16cae794?q=75&fm=jpg&s=9687915831b6fd40e033578351e1f6d4") no-repeat;
  background-size: cover;
}

.artist-2 {
  background: url("https://ununsplash.imgix.net/photo-1415201179613-bd037ff5eb29?q=75&fm=jpg&s=750bf3cbc777d5e274b76dc9d30b4925") no-repeat;
  background-size: cover;
}

.artist-3 {
  background: url("https://ununsplash.imgix.net/photo-1416431168657-a6c4184348ab?q=75&fm=jpg&s=20ba248730c200af0d30c9ba81854867") no-repeat;
  background-size: cover;
}

.artist-header {
  position: absolute;
  bottom: 20px;
  left: 100px;
}

.article-body {
  height: auto;
  margin-top: 0px;
  position: relative;
  .article-text {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 30px;
    text-align: left; 
    height: auto; 
  }
}

.page-next {
  position: fixed;
  top: 0px;
  height: 100vh;
  min-height: 100px; 
  width: 75px;
  opacity: 0.5;
  @include side-gradient;
  &.left {
    left: 0px;
  }
  &.right {
    right: 0px;
  }
}