---
title: Book of Shadows
---

<!-- Add your site or application content here -->
<div class="gradient gradient-animate">
<%= partial "main-nav" %>
  <%= link_to image_tag('bos-full-white.svg', :class => "article-white-logo" ), '/book-of-shadows' %>
  <section class="body-center info-body">
    <h1><%= sections.description.main %></h1>
  </section>

</div>
