---
title: Book of Shadows
---

<%= partial "main-nav" %>

<div class="artist-hero <%=artist%>">
	<a href="/"><h4>BOOK OF SHADOWS</h4></a>
  <h1 class="artist-header"><%= artist.upcase %></h1>
</div>

<div class="page-next left">
</div>
<div class="page-next right">
</div>

<div class="article-body">
  
  <p class="article-text">
  Actually plaid gentrify selvage, organic kogi hashtag four dollar toast deep v gluten-free Pinterest. Street art trust fund Banksy wayfarers. Four dollar toast mixtape actually, bitters beard ennui yr Echo Park wolf forage Neutra sriracha. Lomo four dollar toast mumblecore PBR. Keffiyeh bicycle rights mixtape fanny pack tousled. Heirloom butcher artisan irony, Pinterest kale chips vegan post-ironic yr ugh seitan pop-up gastropub chambray. Fap semiotics retro, twee messenger bag yr pop-up typewriter pickled Austin chambray lomo fanny pack letterpress.

  Irony Vice street art keffiyeh tofu migas vinyl, Banksy tousled fixie authentic. XOXO quinoa fixie asymmetrical, pour-over authentic small batch Banksy direct trade bicycle rights stumptown. Beard synth High Life, keffiyeh ugh fap direct trade. Viral YOLO literally gastropub, gluten-free authentic Kickstarter retro XOXO. High Life bicycle rights chia, banjo asymmetrical gluten-free bespoke 90's deep v roof party Odd Future authentic. Banksy ethical messenger bag quinoa organic, Pitchfork hashtag biodiesel four loko Portland vinyl wolf. Bespoke Brooklyn lo-fi lumbersexual.

  DIY pork belly Blue Bottle, pop-up meditation selvage cronut. Gentrify bicycle rights wolf migas DIY. Meditation cardigan slow-carb freegan, wolf distillery Pinterest. Shoreditch butcher forage squid. Austin pour-over selfies chambray. Art party beard blog Pitchfork, actually lo-fi mixtape Schlitz taxidermy selvage chia swag trust fund McSweeney's letterpress. Heirloom blog pork belly Vice fap, Neutra kogi cornhole narwhal.

  Art party semiotics fashion axe, PBR authentic post-ironic Schlitz taxidermy asymmetrical Austin. Fingerstache Tumblr Neutra Carles artisan, drinking vinegar literally selfies. Shoreditch mumblecore Carles Wes Anderson Austin, authentic blog wayfarers semiotics lumbersexual Tumblr roof party pop-up Intelligentsia PBR&B. Next level Blue Bottle 8-bit, selvage leggings twee keytar vinyl mlkshk actually umami Etsy meditation sriracha. Wolf retro post-ironic narwhal swag. Organic migas Godard DIY small batch 90's. IPhone blog chambray locavore aesthetic.
  </p>
</div>