<%= image_tag "../img/bos-menu-icon.svg", :class => "menu-icon"%>

<div class="home-menu">
<%= image_tag "../img/bos-menu-icon-white.svg", :class => "menu-icon white"%>
<ul>
  <li><a href="/">HOME</a></li>
  <li><a href="/">MANIFESTO</a></li>
  <li>ISSUES</li>
  <li>CONTACT</li>
  <li>TUMBLR</li>
</ul>
</div>