---
title: Book of Shadows
---

<!-- Add your site or application content here -->
<div class="gradient">
  <%= image_tag "img/book-of-shadows-logo-v1.svg", :class => "home-logo"%>

  <%= partial "main-nav" %>

  <div class="home-bottom-panel">
    <h5 class="home-issue-header">ISSUE 01</h5>
    <h1 class="artist-name"><a href="/artists/sonia">SONIA KIM</a></h1>
    <h1 class="artist-name"><a href="/artists/nikka">NIKKA</a></h1>
    <h1 class="artist-name">RONNIE PERKINS</h1>
  </div>
</div>
