---
title: Book of Shadows
---

<!-- Add your site or application content here -->
<div class="gradient gradient-animate">
  <%= image_tag "img/book-of-shadows-logo-v1.svg", :class => "home-logo"%>

  <%= partial "main-nav" %>

  <div class="home-bottom-panel">
    <h5 class="home-issue-header">ISSUE 01</h5>
    <% data.zine.artists.each do |artist| %> 
      <div class="artist-name-contain">
        <h1 class="artist-name"><%= link_to artist.artist.upcase, artist.path %></h1>
      </div>
    <% end %>
  </div>
</div>
