---
title: Book of Shadows
---

<!-- Add your site or application content here -->
<div class="gradient gradient-animate">
<%= partial "main-nav" %>
  <section class="home-body-center">
    <%= partial "animated-gradient-content" %>
  </section>

  <div class="home-bottom-panel">
    <h5 class="home-issue-header">ISSUE 01</h5>
    <% data.zine.artists.each do |artist| %> 
      <div class="artist-name-contain">
      <!-- TODO link artists to index in array for current -->
        <%= link_to image_tag(artist.symbol, :class => "artist-symbol" ), artist.path %>
      </div>
    <% end %>
  </div>
</div>
