---
title: Book of Shadows
---

<!-- Add your site or application content here -->
<div class="gradient">
  <%= image_tag "img/bos-menu-icon.svg", :class => "menu-icon"%>
  <%= image_tag "img/book-of-shadows-logo-v1.svg", :class => "home-logo"%>

  <div class="home-bottom-panel">
    <h5 class="home-issue-header">ISSUE 01</h5>
    <h1 class="artist-name">SONIA KIM</h1>
    <h1 class="artist-name">NIKKA</h1>
    <h1 class="artist-name">RONNIE PERKINS</h1>
  </div>
</div>
